nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-bottom: solid rgb(216, 216, 216) 1px;
    border-top: solid rgb(216, 216, 216) 1px;
}

.Divider {
    float: left;
    border-right: solid grey 1px;
}
button {
    cursor: pointer;
}

nav button {
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.ToolBarButton {
    border-radius: 7%;
    float: left;
    margin-right: 3px;
}

.ToolBarButton:hover {
    background-color: rgb(236, 236, 236);
}

nav button img {
    width: 20px;
}