body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Questrial', sans-serif;
}

.Chat-Input {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 20px;
    border-radius: 40px;
    outline: none;
    border: solid rgb(168, 168, 168) 1px;
    width: 90% !important;
    min-height: 20px;
    background-color: white;
}

.Chat-Input:focus {
    border: solid rgb(0, 97, 114) 2px;
    transition: all ease-in-out;
    transition-duration: 350ms;
    background-color: white;
}

#results {
    min-height: 500px;
}

.ChatBox {
    background-color: rgb(233, 231, 231);
    width: 37%;
    padding: 20px;
    margin: none;
    min-height: 570px;
    position: absolute;
    overflow: auto;
    left: 200px;
}

#EmojiThing {
    font-size: 30px;
    cursor: pointer;
    float: right;
    position: absolute;
    left: 85%;
    bottom: 40px;
    outline: none;
}

.nothing {
    background-color: transparent;
    border: none;
    padding: none;
    margin: none;
    outline: none;
}

#Input {
    outline: none;
    border: none; 
    width: 91%; 
}

#Input:focus {
    outline: none;
    border: none; 
}

#EmojiThing:hover {
    color: rgb(0, 97, 114);
    transition: ease-in-out;
    transition-duration: 250ms;
}

#EditorButton {
    font-size: 40px;
    float: left;
}

#EditorButton:hover {
    color: rgb(0, 97, 114);
}

#results div {
    background: white;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
} 

.mention {
    color: rgb(0, 97, 114);
    cursor: default;
}

/* .mention:hover {
    text-decoration: underline;
    transition: ease-in-out;
    transition-duration: 400ms;
} */

.MessageInfo {
    width: 200px;
}

.Time {
    color: rgb(92, 91, 91);
    font-size: 12px;
}

button {
    font-size: 40px;
    float: left;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.nothing {
    background-color: none;
    border: none;
    outline: none;
    color: black;
}

.nothing:hover {
    background-color: none;

    border: none;
    outline: none;
    color: rgb(0, 97, 114);
}

nav {
    float: left;
    width: 160px;
    position: fixed;
}

nav a {
    padding: 20px;
    width: 200px !important;
    border-radius: 40px;
    float: left;
    top: none;
}

nav a:hover {
    background-color: rgb(243, 243, 243);
    transition: ease-in-out;
    transition-duration: 300ms;
}

#LoginForm {
    background-color: rgb(233, 231, 231);
    width: 37%;
    padding: 20px;
    margin: none;
    min-height: 570px;
    position: absolute;
    overflow: auto;
    left: 200px;
}

input {
    width: 400px;
    height: 50px;
    border: 1px #ccc solid;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    padding: 10px;
}

input:focus {
    background: #f1f1f1;
    font-size: 24px;
}

    ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #555;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
  cursor: grab;
}

::-webkit-scrollbar-thumb:onclick {
    cursor: grabbing;
}

#AlertBoxLoginWrong {
    background-color: #ffdddd;
    color: red;
    font-family: 'Questrial', sans-serif;
    width: 400px;
    margin-bottom: 20px;
    border: solid red 1.5px;
    display: none;
}

#AlertBoxLoginRight {
    background-color: #ccffcc;
    color:green;
    font-family: 'Questrial', sans-serif;
    width: 400px;
    margin-bottom: 20px;
    border: solid green 1.5px;
    display: none;
}

a {
                    text-decoration: none;
                    color: #0f2f4e;
                    border-bottom: none;
                    padding-bottom: none;
                    font-family: 'Roboto', sans-serif;
                }

                PostHead {
                    font-size: 30px;
                    font-family: 'Roboto', sans-serif;
                }

                a:hover {
                    color: #0f2f4e;
                    padding: none;
                    text-decoration: underline #0f2f4e;
                    font-family: 'Roboto', sans-serif;
                }
.specialbutton {
        background-color: #133e67; 
        font-size: 17px; color: white; 
        font-family: 'Roboto', sans-serif; 
        border: none; outline: none; 
        padding: 10px; 
        cursor: pointer;
    }

    .specialbutton:hover {
        background-color: #0f2f4e;
        font-size: 17px;
    }