                h1 {
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }

                p {
                    font-family: 'Roboto', sans-serif;
                }

                h2 {
                   font-style: normal;
                   font-family: 'Roboto', sans-serif;
                }

                h3 {
                    font-style: normal;
                }

                h4 {
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }

                h5 {
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }

                h6 {
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }

                article {
                   font-style: normal;
                   font-family: 'Roboto', sans-serif;
                }

                caption {
                    font-style: normal;
                    font-family: 'Roboto', sans-serif;
                }
                
                body {
                    font-family: 'Roboto', sans-serif;
                    margin: none;
                    padding: none;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    overflow: auto;
                    position: relative;
                    scroll-behavior: smooth;
                    overflow-x: hidden;
                }

                .header {
                    padding: 80px;
                    text-align: center;
                    background: #133f67;
                    color: white;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                }

                .header h1 {
                    font-size: 40px;
                    font-family: 'Roboto', sans-serif;
                }

                .navbar {
                    overflow: hidden;
                    background-color: #333;
                    position: sticky;
                    position: -webkit-sticky;
                    top: 0;
                    width: 100%;
                    font-family: 'Roboto', sans-serif;
                }

                .navbar a {
                    float: left;
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 20px;
                    text-decoration: none !important;
                    font-family: 'Roboto', sans-serif;
                }

                .navbar a.right {
                    float: right;
                    font-family: 'Roboto', sans-serif;
                }

                .navbar a:hover {
                    background-color: #ddd;
                    color: black;
                    font-family: 'Roboto', sans-serif;
                }

                * {
                    box-sizing: border-box;
                    font-family: 'Roboto', sans-serif;
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    font-family: 'Roboto', sans-serif;
                }

                .side {
                    flex: 30%;
                    background-color: #f1f1f1;
                    padding: 20px;
                    font-family: 'Roboto', sans-serif;
                }

                .main {
                    flex: 70%;
                    background-color: white;
                    padding: 20px;
                    font-family: 'Roboto', sans-serif;
                }


                @media screen and (max-width: 700px) {
                    .row {
                        flex-direction: column;
                        font-family: 'Roboto', sans-serif;
                    }
                }


                @media screen and (max-width: 400px) {
                    .navbar a {
                        float: none;
                        width: 100%;
                        font-family: 'Roboto', sans-serif;
                    }
                }

                .footer {
                    padding: 20px;
                    text-align: center;
                    background: #ddd;
                    width: 100%;
                    font-family: 'Roboto', sans-serif;
                }

                input[type="text"] {
                    width: 400px;
                    height: 50px;
                    border: 1px #ccc solid;
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    color: black;
                    padding: 10px;
                }

                input[type="password"] {
                    width: 400px;
                    height: 50px;
                    border: 1px #ccc solid;
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    color: black;
                    padding: 10px;
                }

                input[type="email"] {
                    width: 400px;
                    height: 50px;
                    border: 1px #ccc solid;
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    color: black;
                    padding: 10px;
                }

                input[type="submit"] {
                    background-color: #133e67;
                    font-size: 23px;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    border: none;
                    outline: none;
                    padding: 10px;
                    cursor: pointer;
                }

                input:focus {
                    background: #f1f1f1;
                    font-size: 24px;
                }

                textarea {
                    height: 200px;
                    width: 400px;
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    outline: none;
                    border: 1px #cccccc solid;
                    color: black;
                    padding: 10px 10px;
                    padding-bottom: none;
                }

                textarea:focus {
                    background: #f1f1f1;
                    font-size: 24px;
                    font-family: 'Roboto', sans-serif;
                }

                input[type="submit"]:hover {
                    background-color: #0f2f4e;
                    transition: ease-in-out;
                    font-size: 24px;
                    transition-duration: 250ms;
                    font-family: 'Roboto', sans-serif;
                }

                a {
                    text-decoration: none;
                    color: #0f2f4e;
                    border-bottom: none;
                    padding-bottom: none;
                    font-family: 'Roboto', sans-serif;
                }

                PostHead {
                    font-size: 30px;
                    font-family: 'Roboto', sans-serif;
                }

                a:hover {
                    color: #0f2f4e;
                    padding: none;
                    text-decoration: underline #0f2f4e;
                    font-family: 'Roboto', sans-serif;
                }

                .Post {
                    padding-top: 5px;
                    padding-left: 9px;
                    padding-bottom: 5px;
                    border-left: #0f2f4e solid 7px; 
                    background-color: white; 
                    font-family: 'Roboto', sans-serif;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-right: 20px;
                }

                .callout {
                    position: fixed;
                    bottom: 35px;
                    right: 20px;
                    margin-left: 20px;
                    max-width: 300px;
                    font-family: 'Roboto', sans-serif;
                }

    .callout-header {
        padding: 25px 15px;
        background: #555;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    .callout-container {
        padding: 15px;
        background-color: #ccc;
        color: black;
        font-family: 'Roboto', sans-serif;
    }

    .closebtn {
        position: absolute;
        top: 5px;
        right: 15px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .closebtn:hover {
        color: lightgrey;
    }

    button {
        background-color: #133e67; 
        font-size: 17px; color: white; 
        font-family: 'Roboto', sans-serif; 
        border: none; outline: none; 
        padding: 10px; 
        cursor: pointer;
    }

    button:hover {
        background-color: #0f2f4e;
        font-size: 17px;
    }

    #LoginForm {
        background: white;
        border: grey 1px solid;
        position: fixed;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 15px;
        bottom: 0;
        display: none;
    }

    .CodeBlock {
        font-family: Monaco; 
        color: white; 
        background-color: #103456;
        height: 370px;
        width: 90%;
        font-size: 15px;
    }

    .CodeBlock:focus {
        font-family: Monaco; 
        color: white; 
        background-color: #103456;
        height: 370px;
        width: 90%;
        font-size: 15px;
    }

    .CodeBlock:hover {
        font-family: Monaco; 
        color: white; 
        background-color: #103456;
        height: 370px;
        width: 90%;
        font-size: 15px;
    }

    .CodeBlock:onclick {
        font-family: Monaco; 
        color: white; 
        background-color: #103456;
        height: 370px;
        width: 90%;
        font-size: 15px;
    }

    .CodeBlockHeader {
        height: 20px;
        color: white;
        background-color: #333;
        width: 90px !important;
        font-size: 20px;
        padding: 10px;
    }

    ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #555;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
  cursor: grab;
}

::-webkit-scrollbar-thumb:onclick {
    cursor: grabbing;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#AlertBoxLoginWrong {
    background-color: #ffdddd;
    color: red;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    margin-bottom: 20px;
    border: solid red 1.5px;
    display: none;
}

#AlertBoxLoginRight {
    background-color: #ccffcc;
    color:green;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    margin-bottom: 20px;
    border: solid green 1.5px;
    display: none;
}